/* 改变主题色变量 */
$--color-primary: #409EFF;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

$sidebar_width: 220px;
$sidebar_width_collapse:64px;
$sidebar_bgcolor: #323A45;
$sidebar_bgcolor_hover: #282E37;
$sidebar_bgcolor_active: #37424F;
$sidebar_color_active: $--color-primary;
$navitab_color_active: $--color-primary;

